In [1]:
#1--area of an equialateral traiangle
length=float(input())
Area=(1.73*length*length)/4
print("Area of the Equialateral Traingle=",Area)

34
Area of the Equialateral Traingle= 499.97

In [2]:
#2--Given an integer number n, return the difference between the product of its even digits and the sum of its odd digits.
s=2468
numstr=str(s)
oddsum=0
evenprod=1
for i in range(len(numstr)):
    if i%2==0:
        evenprod*=int(numstr[i])
       # print(numstr[i])
    else:
        oddsum+=int(numstr[i])
        #print(numstr[i])
print("oddsum=",oddsum)
print("evenproduct=",evenprod)
print("difference between the product of its even digits and the sum of its odd digits=",evenprod-oddsum)

oddsum= 12
evenproduct= 12
difference between the product of its even digits and the sum of its odd digits= 0

In [3]:
#--3 Take input from the user in one line and the output should be a list.
inputlist=list((input('Enter the value').split()))
inputlist
#list_=[]
#list_.append(inputlist)
#list_

Enter the value12 23 12

['12', '23', '12']

In [4]:
# --4.Avnish is allowed to go out with his friends only on the even days of a given month. Write a program to count the number of days he can go out in the month of August.
s=0
for i in range(1,32):
    if i%2==0:
        s=s+1
print('The number of days he can go out in the month of August---',s,'days')

The number of days he can go out in the month of August--- 15 days

In [5]:
#--4Write a program to print the sum of negative numbers, sum of positive even numbers and the sum of positive odd numbers from a list of numbers (N) entered by the user. The list terminates when the user enters a zero.
def lisnum(ls):
    sum_of_neg_num=0
    pos_evn_num=0
    pos_odd_num=0
    for i in ls:
        if i==0:
            break
        if i<0:
            sum_of_neg_num+=i
        elif (i%2==0)&(i>0):
            pos_evn_num+=i
        elif (i%2!=0)&(i>0):
            pos_odd_num+=i
    return(sum_of_neg_num,pos_evn_num,pos_odd_num)

In [6]:
l=[1,2,3,4,0,-1,-3]
lisnum(l)

(0, 6, 4)

In [7]:
#--5 Implement permutations(Npr) and combinations(Ncr).
from itertools import permutations,combinations
permut=permutations([2,3,4])
combi=combinations([1,2,3],2)
print('permutations')  
for i in permut:
    print(i)
  
print('------------')
print('combinations')  
for j in list(combi):
    print(j)

permutations
(2, 3, 4)
(2, 4, 3)
(3, 2, 4)
(3, 4, 2)
(4, 2, 3)
(4, 3, 2)
------------
combinations
(1, 2)
(1, 3)
(2, 3)

In [8]:
#--6 A Person is eligible to vote if his/her age is greater than or equal to 18. Define a method to find out if he/she is eligible to vote. Check whether Anand can vote or not.

def voteeligibility(age):
    if age>=18:
        print("The Person is eligible to vote")
    else:
        print("The Person is not eligible")

In [9]:
voteeligibility(23)

The Person is eligible to vote

In [5]:
#--7 Pattern Printing
n = 5 
for i in range(n): 
  p=1
  for j in range(i, n): 
     print(' ', end=' ') 
  for j in range(i):
     print(p, end=' ')
     p+=2
  for j in range(i+1):
     print(p, end=' ')
     p-=2
  print()

          1
        1 3 1
      1 3 5 3 1
    1 3 5 7 5 3 1
  1 3 5 7 9 7 5 3 1

In [7]:
for letter in 'Python':     # First Example
   if letter == 'h':
      break
   print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t

In [9]:
for letter in 'Python':     # First Example
   if letter == 'h':
      continue
   print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

In [11]:
#8--pattern Printing
n=5
p=1
for i in range (n-1):
    for j in range (i,n):
        print (' ', end = ' ')
    for j in range (i):
        print (p, end = ' ')   
    for j in range (i+1):
        print (p, end = ' ')   
    p+=1
    print()  
for i in range (n):
    for j in range (i+1):
        print (' ', end = ' ')
    for j in range (i,n-1):
        print (p, end = ' ')   
    for j in range (i,n):
        print (p, end = ' ')   
    p-=1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [12]:
#9--pattern printing
n=5
for i in range(n):
    for j in range(i):
        print('*',end="")
    print()
for i in range(n):
    for j in range(i,n):
        print('*',end="")
    print()

*
**
***
****
*****
****
***
**
*

In [68]:
#10--Write a python program to print only the integers from the given list 
#input : l=[['a','b','c'],[[4],1,2,'c']]
#output : 4,1,2
l=[['a','b','c'],[[4],1,2,'c']]
j=[]
for i in l:
    for j in i:
        if type(j)==list:
            if type(j)==int:
                print(j)

In [71]:
l[1][0][0]

4

In [43]:
for i in range(len(l)):
    for j in range(len(l[i])):
        if type(l[i][j]) == list:
            if type(l[i][j][0]) == int:
                print(l[i][j][0])
        if type(l[i][j]) == int:
            print(l[i][j])

4
1
2

In [14]:
for i in range(len(l)):
    for j in range(len(l[i])):
            print(l[i][j])

a
b
c
[4]
1
2
c

In [15]:
#11--Write a program to check whether any given 2 strings have the same characters.
#Input : S1 = cat
#S2 = tac
#Output: contains the same characters

string1='mani'
string2='kannia'
s=''
for i in string1:
    if i in string2:
        s=s+i
print(s)

ani

In [16]:
#12-- Write a program to implement mean, median, and mode without using python inbuilt functions.
operation=int(input('Mean 1,Median 2, Mode 3'))
list_=[34,45,65,76,778,78]
len_list=len(list_)
list_.sort()
print(list_)
if operation==1:
    sum_list=sum(list_)
    mean=sum_list/len_list
    print(mean)
    
elif operation==2:
    
    if len_list%2==0:
        median1=list_[len_list//2]
        median2=list_[len_list//2-1]
        median=(median1+median2)/2
        print(median)
    else:
        median=list_[len_list//2]
        print(median)
        
elif operation==3:
    list_sort=list_.sort()
    l=[]
    i=0
    while i<len(list_):
        l.append(list_.count(list_[i]))
        i+=1
    d1=dict(zip(list_,l))
    d2={k for (k,v) in d1.items() if v == max(l) }
  
    print("Mode(s) is/are :" + str(d2))

Mean 1,Median 2, Mode 31
[34, 45, 65, 76, 78, 778]
179.33333333333334

In [17]:
list_=[23,34,12,23]
sum_list=sum(list_)
mean=sum_list/len_list
print(mean)

15.333333333333334

In [18]:
len_list=len(list_)
if len_list%2==0:
    median1=list_[len_list//2]
    median2=list_[len_list//2-1]
    median=(median1+median2)/2
    print(median)
else:
    median=list_sort[len_list//2]
    print(median)

23.0

In [19]:
list1=[1,5,2,4,2,5,2,4]
list1.sort()
print(list1)
l=[]
i=0
while i<len(list1):
    l.append(list1.count(list1[i]))
    i+=1
d1=dict(zip(list1,l))
d2={k for (k,v) in d1.items() if v == max(l) }
  
print("Mode(s) is/are :" + str(d2))

[1, 2, 2, 2, 4, 4, 5, 5]
Mode(s) is/are :{2}

In [20]:
list1=[1,5,2,4,2,5,2,4]
list1.sort()
list1

[1, 2, 2, 2, 4, 4, 5, 5]

In [23]:
#--13 Write a program to reverse a list without using the python inbuilt function.
l=[12,34,5,45657,67]
l[::-1]

[67, 45657, 5, 34, 12]

In [72]:
list1 = [1, 2, 3, 4,8,6,0]
L = len(list1)

for i in range(int(L / 2)):
    n = list1[i]
    print(n)
    list1[i] = list1[L - i - 1]
    print(list1[i] )
    list1[L - i - 1] = n
    print(list1[L - i - 1])

print(list1)

1
0
1
2
6
2
3
8
3
[0, 6, 8, 4, 3, 2, 1]

In [73]:
range(10)

range(0, 10)

In [56]:
spam =0
if spam == 10:
    print('eggs')
    if spam > 5:
        print('bacon')
else:
    print('ham')
    print('spam')
    print('spam')

ham
spam
spam

In [61]:
n = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7) , set([23,4,5,45,4,4,45,45,4,5]),{'k1':"sudh" , "k2":"ineuron" , "k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science"]]

In [60]:
type(l)

list

In [65]:
for i in range(len(n)):
    for j in range(len(n[i])):
        if type(n[i][j]) == list:
            if type(n[i][j][0]) == int:
                print(n[i][j][0])
        if type(n[i][j]) == int:
            print(n[i][j])

1
2
3
4
2
3
4
5
6
3
4
5
6
7

TypeError: 'set' object is not subscriptable

In [74]:
12//2

6

In [75]:
6-1

5

In [76]:

for num in range(1, 101):
    for i in range(2, num):
        if num % i == 0:
            break
        else:
            print(num)
            break

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [83]:
l1=[12,23]
l2=['a','b']
l3=dict(zip(l2,l1))

In [84]:
l3

{'a': 12, 'b': 23}

In [90]:
class Father:
  def __init__(self):
    print('You are in Father Class Constructor')
   
  def show(self):
    print("Father Class instance Method")
         
class Mother:
  def __init__(self):
    print("You are in Mother Class Constructor")
   
  def show1(self):
    print("Mother Class instance Method")
         
class Son(Father, Mother):
    def __init__(self):
        print("You are in Son Class Constructor")

In [93]:
sys=Son()
sys.show()

You are in Son Class Constructor
Father Class instance Method

In [106]:
s="sdqknk"
for i in s:

s
d
q
k
n
k

In [111]:
def remove(string, i):
    # Characters before the i-th indexed
    # is stored in a variable a
    a = string[0 : i] 
    print(a)
    # Characters after the nth indexed
    # is stored in a variable b
    b = string[i + 1: ]
    print(b)
    # Returning string after removing
    # nth indexed character.
    return a + b

In [112]:
a='mukesh'
b=2
remove(a,b)

mu
esh

'muesh'

In [113]:
#Write a program to concatenate strings using for Loop.
s=[1,2,3,4,5]
s1=[4,5,6,1]
for i in s:
    if i in s1:
        print(i)

1
4
5

In [118]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}
 
print("A.issuperset(B) : ", C.issuperset(B))

A.issuperset(B) :  False

In [119]:
# Program to multiply two matrices using nested loops

# 3x3 matrix
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
# 3x4 matrix
Y = [[5,8,1,2],
    [6,7,3,0],
    [4,5,9,1]]
# result is 3x4
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

# iterate through rows of X
for i in range(len(X)):
   # iterate through columns of Y
   for j in range(len(Y[0])):
       # iterate through rows of Y
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

for r in result:
   print(r)

[114, 160, 60, 27]
[74, 97, 73, 14]
[119, 157, 112, 23]

In [133]:
# factorial of the num
def factorial(n):
    if n<0:
        return 0
    elif n==1:
        return 1
    else:
        fact=n*factorial(n-1)
        return fact

In [134]:
factorial(7)

5040

In [135]:
v=int(input())
w=int(input())
if (w&1)==1 or w<2 or w<=v:
    print("INVALID INPUT")
else:
    x=((4*v) -w)//2
    print("TW={0} FW={1}".format(x,v-x))

200
540
TW=130 FW=70

In [139]:
260/2

130.0

In [147]:
(7&1)==1

True

In [148]:
s="##**"
a=0
b=0
for i in s:
    if i=='*':
        a+=1
    elif i=='#':
        b+=1
print(a-b)

0

# ***Factoraila of the num

In [153]:
# Multiplication of series of no is known as Factorial no
### Factorial of the num
num=7
fact=1
for i in range(1,num+1):
    fact=fact*i
    print(fact)

1
2
6
24
120
720
5040

# Fibbonsci series

In [158]:
# sequence addidtion of num is fibbonacy series
def fiboonaci(n):
    if n==0:
        return 0
    if n==1:
        return 1
    else:
        fibo=fiboonaci(n-1)+fiboonaci(n-2)
        return(fibo)

In [161]:
fiboonaci(9)

34

# Prime number

In [168]:
# a num which is divisible by itself and 1 is called prime no
def prime(n):
    if( n==0 or n==1):
        return False
    for i in range(2,n//2+1):
        if n%i==0:
            return False
    else:
        return True
n=10
for i in range(1,n+1):
    if prime(i):
        print(i,end=" ")

2 3 5 7

In [211]:
num=11
if num>1:
    for i in range(2,int(num/2)+1):
        if num%i==0:
            print(num,'is not a prime num')
            break
    else:
        print(num,'is an prime no')
else:
    print(num,'Is not a prime no')

11 is an prime no

# Amstrong no

In [173]:
# A cube of digit of number and its sum
def Amstrong(num):
    sum_=0
    temp=num
    while(temp>0):
        digit=temp%10
        sum_+=digit**3
        temp//=10
    if num==sum_:
        print(num,"Is an Amstrong No")
    else:
        print(num,"IS not an Amstrong NO")

In [174]:
Amstrong(153)

153 Is an Amstrong No

# Program to check the num is a binary are not (0,1 are binary)

In [253]:
num = int(input("please give a number : "))
for i in range(len(str(num))):
    j=int(num)%10
    if j!=0 and j!=1:
        print("num is not binary")
        
    else:
        print("num is binary")

please give a number : 12
num is not binary
num is not binary

In [257]:
num = int(input("please give a number : "))
while(num>0):
    j=num%10
    if j!=0 and j!=1:
        print("num is not binary")
        break
    num=num//10
    if num==0:
        print("num is binary")

please give a number : 23
num is not binary

# python program to swap 2 variable without  using 3rd variavle

In [259]:
#  without using 3rd variable
a=int(input('Enter the num A='))
b=int(input('Enter the num B='))
a=a-b
b=a+b
a=b-a
print('after swaping of A',a)
print('after swaping of B',b)

Enter the num A=12
Enter the num B=23
after swaping of A 23
after swaping of B 12

In [262]:
# with third variable
c=int(input('Enter the num A='))
d=int(input('Enter the num B='))
temp=c
c=d
d=temp
print('after swaping of A',c)
print('after swaping of B',d)

Enter the num A=12
Enter the num B=23
after swaping of A 23
after swaping of B 12

# Replace the string

In [263]:
s1='mamas'
s1.replace('s','j')

'mamaj'

In [267]:
#taking input from user
ch = input("Enter a character : ") 
if ch >= '0' and ch <= '9': #comparing the value of ‘ch’ 
	# if the condition holds true then this block will execute
    	print("Given Character ", ch, "is a Digit")
else: #this block will execute if the condition will not satisfies
    print("Given Character ", ch, "is not a Digit")

Enter a character : 34
Given Character  34 is a Digit

In [279]:
'1'<='9'

True

### Palindrome

In [195]:


def Palindrome(num):
    rev=0
    temp=num
    while(num>0):
        digit=num%10
        rev=rev*10+digit
        num=num//10
    if temp==rev:
        print(num,"Is an Palindrome No")
    else:
        print(num,"IS not an Palindrome NO")

In [196]:
Palindrome(121)

0 Is an Palindrome No

# Leap year Check

In [201]:
year=int(input('Enter the year:'))
if (year%4==0 and year%100!=0 or year%400==0):
    print(year,"Is a Leap Year")
else:
    print("not a Leap Year")

Enter the year:1996
1996 Is a Leap Year

In [203]:
import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
x

In [205]:
s = 'geeks.forgeeks'
 
# without using \
match = re.search(r'f', s)
print(match)
 
# using \
match = re.search(r'\.', s)
print(match)

<re.Match object; span=(6, 7), match='f'>
<re.Match object; span=(5, 6), match='.'>

In [206]:
import pandas as pd

In [ ]:
def getMth(M, L):
    if M > len(L):
        return 'NIL'
    else:
        return L[-M]
   
M = int(input())
L = list(input().split())
print(getMth(M, L))

In [290]:
Li = list(input().strip().split())
Li[-1]

12 13 13

'13'

In [293]:
import sys

def getFibonacci(num):
    num1 = 0
    num2 =1
    if num == 0:
        num2 = 0 
    for i in range(1, num):
        num3 = num1 + num2
        num1 = num2
        num2 = num3
    return (num2)

for num in sys.stdin:
    print(getFibonacci(int(num)))
    if int(num) <= -1:
        break

In [294]:
getFibonacci(12)

144